/** @format */
@import "../styles/config";

.search-container {
  //   background-color: red;
  margin-bottom: 7.75rem;
  display: flex;
  gap: 62.5px;
}

.search-main {
  //   background-color: green;
  width: 35%;
  h1 {
    // background-color: yellow;
    color: var(--, #241400);
    font-family: $ff-montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 196.187%; /* 70.627px */
    margin-bottom: 2.75rem;
  }

  input {
    display: block;
    margin-bottom: 2.75rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.69rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cecece;
    background: #fff;
  }

  button {
    width: 100%;
    border-radius: 5px;
    background: #e16a00;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: white;
    text-align: center;
    font-family: Crimson Text;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  button:hover {
    transform: scale(1.05); /* Увеличиваем изображение на 10% при наведении */
  }
}

.book-info-container {
  //   background-color: aqua;
  width: 60%;
  margin-top: 115px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.info-main {
  //   background-color: gray;
  width: 90%;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 134px;
  display: flex;
  gap: 37px;
}

.img-container {
//   background-color: greenyellow;
  width: 30%;
  img {
    width: 100%;
  }
}

.description-container {
  //   background-color: #a1743d;
  width: 70%;
  h2 {
    text-align: start;
    // background-color: red;
  }
  h4 {
    // background-color: blue;
    margin-bottom: 10px;
  }
  p {
    // background-color: #29b59e;
    color: var(--, #241400);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%; /* 27.466px */
  }
}
