/** @format */
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;500;600;700;900&family=Nunito+Sans:opsz@6..12&family=Preahvihear&family=Roboto:wght@300;400&family=Rubik:wght@400;500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}

.header-container {
  width: 92%;
  margin: 1rem 6.5rem 0 6.5rem;
}

.wrapper {
  width: 100%;
}

.main-container {
  width: 88%;
  margin: 0 6.5rem 0 6.5rem;
}

body {
  background-color: #720418;
  min-height: 600px;
}

.container {
  margin: 0 auto;
}

.header {
  margin: 3rem 2rem 5rem;
}

.main {
  background-color: #fff;
  width: 100%;
  max-width: 662px;
  margin: 0 auto;
  padding-top: 4.5rem;
  margin-bottom: 1.2rem;
}
.main .admin-logintext {
  margin-bottom: 1.1rem;
}
.main .admin-logintext h1 {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  margin-top: 1.1rem;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
}
.main .inputs-container {
  width: 90%;
  margin: 0 auto;
}
.main .inputs-container .inpt-main {
  outline: none;
  width: 100%;
  padding-left: 3.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 4rem;
  color: #797667;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #cecece;
}
.main .inputs-container .inpt-main::-moz-placeholder {
  color: #797667;
}
.main .inputs-container .inpt-main::placeholder {
  color: #797667;
}
.main .inputs-container .inputRedPlaceholder {
  outline: none;
  width: 100%;
  padding-left: 3.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 4rem;
  color: #797667;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #cecece;
}
.main .inputs-container .inputRedPlaceholder::-moz-placeholder {
  color: red;
}
.main .inputs-container .inputRedPlaceholder::placeholder {
  color: red;
}
.main .inputs-container .btn-joinContainer button {
  background-color: #e16a00;
  font-family: "Crimson Text", serif;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0.9rem 1rem;
  margin-bottom: 1.1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #cecece;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s ease;
}
.main .inputs-container .btn-joinContainer button:hover {
  background-color: #720418;
}

@media (max-width: 961px) {
  html {
    font-size: 12px;
  }
  .header {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .main {
    width: 80%;
    margin: 0 auto;
  }
}
@media all and (max-width: 300px) {
  html {
    font-size: 9px;
  }
  .header {
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  .header img {
    width: 25rem;
  }
}/*# sourceMappingURL=adminLogin.css.map */