/** @format */
@media (max-width: 1242px) {
  .nav-container {
    display: none;
  }
  .admin-panel-container {
    width: 100%;
  }

  .main-page {
    background-color: red;
    width: 100%;
    margin-left: 0;
  }
}
