/** @format */
@media (max-width: 900px) {
  .container {
    .nav-container {
      display: none;
    }

    .admin-panel-container {
      width: 100%;
      margin-left: 0;
      .admin {
        width: 90%;
        margin: 0 auto;
        .hamburger-menu {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
      }
      .admin {
        .response-none-container {
          display: none;
        }
      }
      .main-page {
        width: 90%;
        margin: 0 auto;
        .search-result-container {
          width: 100%;
        }
      }
    }

    .table-responsive {
      width: 100%;
      overflow-x: scroll;
    }
    .table-books {
      overflow-x: scroll;
    }

    .contact-us-resp {
      overflow-x: scroll;
    }
  }
}

// ! Hamburger menu

@media (max-width: 900px) {
  .container {
    .container-hamburger-menu {
      // display: block;
      width: 40%;
    }
  }
}

@media (max-width: 584px) {
  .container {
    .container-hamburger-menu {
      width: 50%;
    }
  }
}

@media (max-width: 460px) {
  .container {
    .container-hamburger-menu {
      width: 80%;
    }
  }
}
