@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;500;600;700;900&family=Nunito+Sans:opsz@6..12&family=Preahvihear&family=Roboto:wght@300;400&family=Rubik:wght@400;500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header-container {
  width: 92%;
  margin: 1rem 6.5rem 0 6.5rem;
}

.wrapper {
  width: 100%;
}

.main-container {
  width: 88%;
  margin: 0 6.5rem 0 6.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffaf5;
}

.header-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;
}
.header-container header img {
  cursor: pointer;
}
.header-container header nav {
  width: 35%;
}
.header-container header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.header-container header nav ul a {
  display: flex;
  transition: 0.3s ease;
}
.header-container header nav ul a:hover {
  text-decoration: underline;
  color: #e16a00;
  font-weight: 700;
}
.header-container header nav ul li {
  list-style: none;
}
.header-container header a {
  text-decoration: none;
  color: #241400;
  font-weight: 400;
}
.header-container header .join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}
.header-container header .join-us img {
  margin-right: 0.6rem;
  cursor: auto;
}

.header-section-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #241400;
  margin-bottom: 8rem;
}
.header-section-info img {
  margin-right: 1.6rem;
}
.header-section-info .header-section-left {
  max-width: 400px;
}
.header-section-info .header-section-left h1 {
  font-size: 2.2rem;
  font-weight: 900;
}
.header-section-info .header-section-left p {
  font-size: 0.8rem;
  line-height: 1.9;
  margin-bottom: 1.3rem;
  font-weight: 400;
}
.header-section-info .header-section-left button {
  background-color: #e16a00;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  width: 50%;
  text-align: center;
  padding: 0.9rem 1rem;
  margin-bottom: 1.1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #cecece;
  color: #fff;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0;
  text-align: left;
}
.header-section-info .header-section-left button:hover {
  background-color: #720418;
}

.main-container h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 3rem;
  text-align: center;
}
.main-container .catalog {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.main-container .catalog .catalog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.main-container .catalog .catalog-grid .catalog-grid-item {
  background-color: #fff;
  color: #241400;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 1.2rem 2.5rem;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.main-container .stats {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10rem;
  color: #241400;
}
.main-container .stats .stats-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .stats .stats-info .stats-info-item {
  display: flex;
  align-items: center;
}
.main-container .stats .stats-info .stats-info-item h1 {
  font-size: 3.2rem;
  margin-right: 1rem;
  font-weight: 900;
}
.main-container .stats .stats-info .stats-info-item p {
  font-size: 0.8rem;
}
.main-container .delivery {
  margin-bottom: 9rem;
}
.main-container .delivery p {
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 196.187%;
}
.main-container .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  margin: 0 auto 9rem;
}
.main-container .links-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .links-items a {
  margin: 0 1.5rem;
}

footer {
  background-color: #391f00;
}
footer .footer-container {
  display: flex;
}/*# sourceMappingURL=style.css.map */