@import "./config";

body {
    font-family: $ff-montserrat;
    background-color: $bg-body;
}

// Header nav styles
.header-container {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 9rem;

        img {
            cursor: pointer;
            width: 16%;
        }

        nav {
            width: 35%;
        }

        nav ul {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;

            a {
                display: flex;
                transition: 0.3s ease;
            }

            a:hover {
                text-decoration: underline;
                color: $orange-btn-dark;
                font-weight: 700;
            }

            li {
                list-style: none;
                margin: 0 0.4rem;
            }
        }

        a {
            text-decoration: none;
            color: $home-text-color;
            font-weight: 400;
        }

        .join-us {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12%;
            font-size: 0.9rem;
            font-family: $ff-roboto;

            img {
                margin-right: 0.6rem;
                cursor: auto;
            }
        }
    }
}

// Header section styles

.header-section-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $home-text-color;
    margin-bottom: 8rem;

    img {
        margin-right: 1.6rem;
    }

    .header-section-left {
        max-width: 400px;

        h1 {
            font-size: 2.2rem;
            font-weight: 900;
        }
        p {
            font-size: 0.8rem;
            line-height: 1.9;
            margin-bottom: 1.3rem;
            font-weight: 400;
        }

        button {
            @include button(
                $orange-btn-dark,
                $ff-montserrat,
                0.8rem,
                900,
                50%,
                0.9rem 1rem
            );
            border-radius: 0;
            text-align: left;
        }

        button:hover {
            background-color: $bg-admin;
        }
    }
}

// Main section start

.main-container {
    h2 {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 3rem;
        text-align: center;
    }

    .catalog {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10rem;

        .catalog-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;

            .catalog-grid-item {
                background-color: #fff;
                color: $home-text-color;
                font-weight: 700;
                font-size: 0.9rem;
                padding: 1.2rem 2.5rem;
                box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
                text-align: center;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }
    .stats {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10rem;
        color: $home-text-color;

        .stats-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .stats-info-item {
                display: flex;
                align-items: center;

                h1 {
                    font-size: 3.2rem;
                    margin-right: 1rem;
                    font-weight: 900;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .delivery {
        margin-bottom: 9rem;
        p {
            text-align: center;
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 196.187%;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10rem;
        margin: 0 auto 9rem;
    }

    .links-items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            margin: 0 1.5rem;
        }
    }
}

// Footer styles
footer {
    background-color: $bg-footer;

    .main-container {
        padding: 3rem 0 1rem;
        color: #fff;

        .footer-container {
            display: flex;
            justify-content: space-between;
            // align-items: baseline;
            margin: 1.5rem 0 4rem;

            .footer-container4,
            .svg-footer {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    font-weight: 900;
                    font-size: 0.9rem;
                    margin-bottom: 0.7rem;
                }
            }

            .footer-container-item {
                h4 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    cursor: pointer;
                    padding-bottom: 0.5rem;
                }

                p {
                    font-weight: 400;
                    font-size: 0.8rem;
                    cursor: pointer;
                    padding: 0.2rem 0;
                }
            }
        }

        .terms {
            text-align: center;
            font-size: 0.8em;
            font-weight: 400;
        }

        button {
            background-color: $bg-footer;
            border: 1px solid $orange-btn-dark;
            color: $orange-btn-dark;
            text-align: left;
            cursor: pointer;
            transition: 0.3s ease;
        }
        // button:hover {
        //     background-color: $bg-footer;
        //     color: $orange-btn-dark;
        // }
    }
}

@media all and (max-width: 1200px) {
    html {
        font-size: 13px;
    }

    .books {
        width: 60%;
    }

    .links-items img {
        width: 100%;
    }
}

@media all and (max-width: 1000px) {
    html {
        font-size: 11px;
    }
}

@media all and (max-width: 800px) {
    html {
        font-size: 9px;
    }
}

@media all and (max-width: 650px) {
    // .header-section-info {
    //     display: flex;
    //     flex-direction: column;
    // }

    .header-section-info,
    .stats-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
    }

    .navbar ul {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: #0e2431;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar ul {
        padding-top: 120px;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar ul li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .nav-container input[type="checkbox"]:checked ~ ul {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo {
        display: none;
    }
}
